@font-face {
    font-family: "'Encode Sans Expanded', sans-serif";
    src: url(/s/sfsites/c/resource/ct_Font_Encode_Sans_Expanded);
}

@font-face {
    font-family: "'Open Sans', sans-serif";
    src: url(/s/sfsites/c/resource/font_Open_Sans);
}

.headingStyle {
    color: #027119;
    font-family: "'Encode Sans Expanded', sans-serif" !important;
    font-size: 18px !important;
}
.fieldLabelStyle {
    font-family: "'Open Sans', sans-serif" !important;
    font-size: 14px !important;
    font-weight: normal;
    color:#505457;
}
.descStyle{
    font-size: 14px;
}
.mainHeadingStyle{
    font-family: "'Encode Sans Expanded', sans-serif" !important;
    color: #615897;
    font-size: 18px !important;
}

.activeButton {
    font-family: "'Encode Sans Expanded', sans-serif" !important;
    font-size: 15px !important;
    /* font: inherit; */
    height: 50px;
    width: 200px;
    background-color: #05884a !important;
    border-color: #FFFFFF!important;
    color: #FFFFFF;
    font-weight: 600;
    /* border-radius: 3px; */
    padding: 0px;
    margin: 0px;
    transition-duration: 0.3s;
    transition-property: background-color, color;
}

.activeButton:hover {
    background-color: #069f56 !important;
    color: white;
    font-weight: 600;
}
.slds-input { border-radius: 0px !important;}