@font-face {
  font-family: "'Encode Sans Expanded', sans-serif";
  src: url(/s/sfsites/c/resource/ct_Font_Encode_Sans_Expanded);
}

@font-face {
  font-family: "'Open Sans', sans-serif";
  src: url(/s/sfsites/c/resource/font_Open_Sans);
}

.formHeaderStyle{
  background-color: #351c75;
}

.headerFont{
  color: #9900ff;
  font-family: "'Encode Sans Expanded', sans-serif" !important;
  font-size: 15px !important;

}

.registerButtonStyle{
  background-color:  #9900ff;
  font-family: "'Encode Sans Expanded', sans-serif";
  height: 30px;
  width: 120px;
  border-color: #FFFFFF!important;
  color: #FFFFFF;
  font-size: 14px !important;
  font-weight: 600 !important;
  transition-duration: 0.3s;
  transition-property: background-color, color;
  padding: 0px;
}

.unRegisterButtonStyle{
  background-color:  #009e0f;
  font-family: "'Encode Sans Expanded', sans-serif";
  height: 30px;
  width: 120px;
  border-color: #FFFFFF!important;
  color: #FFFFFF;
  font-size: 14px !important;
  font-weight: 600 !important;
  transition-duration: 0.3s;
  transition-property: background-color, color;
  padding: 0px;
}

.fieldLabelStyle{
  font-family: "'Open Sans', sans-serif" !important;
  font-size: 14px !important;
  font-weight: normal;
}

.inputFieldPlaceHolder {
  font-family: "'Open Sans', sans-serif";
  font-weight: normal;
}

.searchButtonStyle{
  background-color:  #9900FF;
  font-family: "'Encode Sans Expanded', sans-serif";
  height: 30px;
  width: max-content;
  border-color: #FFFFFF!important;
  color: #FFFFFF;
  font-size: 14px !important;
  font-weight: 600 !important;
  transition-duration: 0.3s;
  transition-property: background-color, color;
}

.searchMobileButtonStyle{
  background-color:  #9900FF;
  font-family: "'Encode Sans Expanded', sans-serif";
  border-color: #FFFFFF!important;
  color: #FFFFFF;
  width: max-content;
  padding-right: 10px !important;
  padding-left: 10px !important;
}


.cancelButtonStyle{
  background-color:  #f82944;
  font-family: "'Encode Sans Expanded', sans-serif";
  height: 30px;
  width: 80px;
  border-color: #FFFFFF!important;
  color: #FFFFFF;
  font-size: 14px !important;
  font-weight: 600 !important;
  transition-duration: 0.3s;
  transition-property: background-color, color;
}

.customBorderRight {
  border-right: 2px solid black;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: black;
}

.noSelectCustomClass{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.customWidthFull{
  width: 100% !important;
}

.customHeightFull{
  height: 100% !important;
}

.customSpinnerContainer{
  position: relative;
}

.customInnerSpinner{
  position: absolute;
}

.slds-modal__container {
  max-width: 80rem !important;
  width: 80% !important;
}
.slds-progress-bar {
  height : 25px !important;
}


.fieldLabelMobile{
  font-family: "'Open Sans', sans-serif" !important;
 
  font-weight: normal;
}

.tileText{
  font-family: "'Open Sans', sans-serif" !important;
  font-size: 14px !important;
  font-weight: bold;
  word-wrap: break-word;
}